@font-face {
    font-family: "Scaly Sans";
    src: local("Scaly Sans"), url("./fonts/Scaly Sans.otf"), format("otf");
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

#root-container > div:nth-of-type(1) {
    flex-grow: 0;
    /* background-color: red; */
}
#root-container > div:nth-of-type(2) {
    flex-grow: 1;
    /* background-color: orange; */
}
#root-container > div:nth-of-type(3) {
    flex-grow: 1;
    /* background-color: yellow; */
}
#root-container > div:nth-of-type(4) {
    flex-grow: 1;
    /* background-color: green; */
}

#root-container {
    /* placeholder */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Spell {
    background-color: #373c44;
    max-width: 66vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    overflow-y: auto;
    overflow-x: hidden;

    font-family: "Scaly Sans";
    font-size: calc(1em + 8px);
    font-style: normal;
    font-weight: normal;
    font-variant-caps: normal;

    text-align: left;
}
.Spell-header {
    font-weight: bold;
}
.Spell-header-italic {
    font-weight: bold;
    font-style: italic;
}
.Spell-title {
    font-variant-caps: petite-caps;
}
.Spell-desc {
    font-size: calc(1em - 10px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Side {
    /* background-color: #332f3a */
}

.side-container {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(1em + 1vmin);
    color: white;

    width: 0em;
    padding-left: 0em;
    transition: width 0.5s, padding-left 0.5s;
    border-right: solid 0.33em black;
}
.side-container > div {
    visibility: hidden;
    white-space: nowrap;
    padding-left: 0em;
    transition: visibility 0.38s, padding-left 0.38s;
}

.side-container:hover {
    width: calc(6em + 10vw);
    padding-left: 0em;
}
.side-container:hover > div {
    visibility: visible;
    white-space: nowrap;
    padding-left: 1em;
    width: auto;
}
.side-container:hover > div:hover {
    background-color: #1d2329;
}
